<!-- Header Section -->
<header class="sticky-top bg-white shadow-sm" id="header">
		
	<section class="logo">
		<a class="" href="<?=defined('BASE_URL') ? BASE_URL . '' : '' ?>">
	
			<?=defined('ORG_LOGO') 
				? (
					ORG_LOGO != '' 
						? '<img src="' . PATH_TO_IMAGES . ORG_LOGO . '" class="logo" height="" />' 
						: 'LOGO'
				) 
				: 'LOGO';
			?>
	
		</a>	
	</section>

	<?php

		if (isset($nav_links_to_use)) {
			
			echo Run::render_template_with_content(
				PATH_TO_THEME . 'web/views/navigation.html', 
				array(
					'links' => $nav_links_to_use,
					'current_page' => explode('/', PATH_INFO)[1]
				)
			);			

		}

	?>
		
</header>