/* Partner logos */
.partner-img {
    max-width: 30%;
    height: auto;
    margin: 10px;
}

/* Tablet and Above */
@media screen and (min-width: 768px) {

    .partner-img {
        height: 100px;
        width: auto;
        max-width: none;
    }

}


/* Desktop Breakpoint */
@media screen and (min-width: 992px) {
}
