<footer class="mt-5 p-3 bg-custom-primary text-white">

	<div class="container">
		<div class="row">
			<div class="col-7 text-start small">
				<strong>&copy; <a href="http://syteman.yems.group" target="_blank">[syteman]</a> by <a href="https://www.yems.group" target="_blank" title="" class="fw-bold">[Y'G]</a></strong>
			</div>
			
			<div class="col-5 text-end small">
				<a href="http://mail.<?= defined('WEBSITE')?WEBSITE:'' ?>" target="_blank"><i class="fas fa-envelope"></i> webm&commat;il</a>
			</div>
		</div>
	</div>
	
	<a onclick="scroll_to_top()" id="backToTop" title="Back to Top" data-toggle="tooltip">&uarr;</a>

</footer>