$custom-colors: (
	"base": #333333, 
	"primary": #2581c4, 
	"secondary": #f6a317, 
	"accent-red": #FF0000, 
	"accent-green": #00FF00,
	"light" : #EEEEEE,
	"dark": #666666
);

$social-colors: (
	"facebook": #0000ff,
	"twitter": #0099ff,
	"youtube": #ff0000,
	"linkedin": #0e76a8
);

$custom-fonts: (
	"primary": unquote("'Almarai', Arial, sans-serif"),
	"title": unquote("'Lato', 'Almarai', Arial"),
	"accent": unquote("'Times New Roman', Times")
);

$directions: ("top", "bottom", "left", "right");

$custom-base-color: map.get($custom-colors, "base");
$custom-primary-color: map.get($custom-colors, "primary");
$custom-secondary-color: map.get($custom-colors, "secondary");
$custom-accent-red: map.get($custom-colors, "accent-red");
$custom-accent-green: map.get($custom-colors, "accent-green");
$custom-light-color: map.get($custom-colors, "light");
$custom-dark-color: map.get($custom-colors, "dark");

$custom-primary-font: map.get($custom-fonts, "primary");
$custom-title-font: map.get($custom-fonts, "title");
$custom-accent-font: map.get($custom-fonts, "accent");