// Every thing about header styles
/* Website Header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	padding: 15px 5%;

	background: #EEE;

	.logo {

		img {
			height: 50px;
		}
	}

	&.scrolled {}
}


/* Tablet Breakpoint */
@media screen and (min-width: 768px) {
}


/* Desktop Breakpoint */
@media screen and (min-width: 992px) {

	header {
		padding: 15px 12.5%;
	}

}