// footer css
footer {
    a, h1, h2, h3, h4, h5, h6 {}

    ul, ol {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }
    
    #backToTop {
        /* Hidden by default */
        display: none; 																	
        padding: 15px;

        /* Fixed/sticky position
        /* Place the button at the bottom of the page
        /* Place the button 30px from the right
        /* Make sure it does not overlap */
        position: fixed; 																
        bottom: 20px; 																	
        right: 30px; 																		
        z-index: 99;

        /* Remove borders
        /* Set a background color
        /* Add a mouse pointer on hover */
        border: none; 																	
        background-color: $custom-secondary-color;
        cursor: pointer; 																

        /* Text color
        /* Increase font size */
        color: white; 																
        font-size: 18px; 																
        
        &:hover {
            /* Add a dark-grey background on hover */
            background-color: $custom-base-color;
        }
    }
}


/* Tablet Breakpoint */
@media screen and (min-width: 768px) {
}


/* Desktop Breakpoint */
@media screen and (min-width: 992px) {
}